# **Room Pricing Model Booking Data Preprocessing**



First, import all the required python libraries for this project.

In [92]:
import os
import pandas as pd
import zipfile
import warnings

In [93]:
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore",category=FutureWarning)

Then extract all files contained within the bookings.zip folder.

In [94]:
with zipfile.ZipFile('bookings.zip', 'r') as zip_ref:
    zip_ref.extractall('book_data')

Afterwards, print all file names along with their paths that are present within the previously extracted folder.

In [95]:
dataframes=[]
folder_path = 'book_data'
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        print(file_path)

book_data/bookings_2024_february.csv
book_data/booking_2024_april.csv
book_data/bookings_2023_august.csv
book_data/bookings_2023_december.csv
book_data/bookings_2023_october.csv
book_data/bookings_2023_july.csv
book_data/bookings_2023_june.csv
book_data/bookings_2024_january.csv
book_data/bookings_2023_september.csv
book_data/bookings_2024_march.csv
book_data/bookings_2023_november.csv

Within the book_data folder, there are bookings data from June 2023 to April 2024 that will undergo preprocessing stages.

# **Preprocess Booking Data June 2023**

The task involves reading the booking data for June using the pandas library and then displaying the top 5 records from the June CSV file using head() function

In [69]:
june_data = pd.read_csv("book_data/bookings_2023_june.csv", skiprows=1)
june_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0%,NaN
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the `describe()` function.

In [70]:
print("Data Info:")
print(june_data.info())

num_duplicates = june_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(june_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                247 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           279 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           279 non-null    object
 11  Average daily rate          200 non-null    float64
 12  Average daily rate YoY      86 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  247 non-null    object
 15  Average booking window      198 non-null    float64
 16  Average booking window YoY  30 non-null     object
 17  View to contact rate        89 non-null     object
 18  View to contact rate YoY    45 non-null     object
 19  Contact to book rate        79 non-null     object
 20  Contact to book rate YoY    33 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.461818     391.535236       4.809091
std    4.270542e+17     4.539524    1278.520183      17.090987
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    44.000000   11536.450000     174.000000

       Average daily rate  Average length of stay  Average booking window
count          200.000000             1100.000000              198.000000
mean           107.711250                0.620164                2.432475
std             99.542959                1.954892               13.565622
min             22.090000                0.000000                0.000000
25%             44.045000                0.000000                0.000000
50%             81.905000                0.000000                0.000000
75%            132.030000                0.000000                0.837500
max            678.610000               28.000000              144.000000

From the information available in the data, it can be determined that the June booking dataset does not contain duplicate data and consists of a total of 21 feature columns. Based on the information available in the data, there are several features that are not necessary. Therefore, those features can be removed.

In [71]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
june_data = june_data.drop(columns,axis=1)
june_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      200 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [72]:
june_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        900
Average length of stay      0
dtype: int64

The next step is to check the data that has missing values for "internal name" and "region."

In [73]:
missing_internal_name = june_data[june_data['Internal name'].isnull()]
print("Data with missing 'Internal name':")
missing_internal_name.head(23)

Data with missing 'Internal name':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,0.0,0,NaN,0.0
170,1128515481162622561,Private room in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
414,565343273164277913,Mock Property Room 1 TESTING,NaN,Bali,SGD,0,0.0,0,NaN,0.0
473,696639001174912560,Mock Property Room 3,NaN,Jakarta,SGD,0,0.0,0,NaN,0.0
487,664020938214053986,Flawless Villa for Group w/ Insane Ocean View ...,NaN,Bali,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
661,1128512891112154152,Entire home/apt in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1042,39118325,Restful Room Surrounded by Ubud Greenery Lush #1,NaN,Bali,SGD,0,0.0,0,NaN,0.0

In [74]:
missing_region = june_data[june_data['Region'].isnull()]
print("Data with missing 'Region':")
missing_region.head(16)

Data with missing 'Region':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0

Since there are many missing values, one option is to drop the data that has missing values for the "internal name" column.

In [75]:
june_data_cleaned = june_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", june_data_cleaned.shape)
june_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      200 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Next, we will check how many types of currencies are used. If there is only one type, then we will keep the average daily rate column.

In [77]:
currency_count = june_data_cleaned['Currency'].value_counts()

print("Number of different currencies:", len(currency_count))
print("\nList of currencies and their counts:")
print(currency_count)

Number of different currencies: 1

List of currencies and their counts:
Currency
SGD    1077
Name: count, dtype: int64

The next step is to fill in the null values for columns with the average daily rate using the mean of the existing data.

In [78]:
average_daily_rate_mean = june_data_cleaned['Average daily rate'].mean()
june_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
june_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the June booking data to ensure that all data has been cleaned.

In [79]:
june_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,0.0,0,107.71125,0.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.0,0,107.71125,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.0,0,107.71125,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.0,0,107.71125,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.0,0,107.71125,0.0

# **Preprocess Booking Data July 2023**

The task involves reading the booking data for July using the pandas library and then displaying the top 5 records from the July CSV file using head() function

In [59]:
july_data = pd.read_csv("book_data/bookings_2023_july.csv", skiprows=1)
july_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,93.55%,NaN
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.0,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [81]:
print("Data Info:")
print(july_data.info())

num_duplicates = july_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(july_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                334 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           345 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           345 non-null    object
 11  Average daily rate          202 non-null    float64
 12  Average daily rate YoY      96 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  334 non-null    object
 15  Average booking window      198 non-null    float64
 16  Average booking window YoY  37 non-null     object
 17  View to contact rate        99 non-null     object
 18  View to contact rate YoY    51 non-null     object
 19  Contact to book rate        91 non-null     object
 20  Contact to book rate YoY    46 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.439091     458.615491       4.910909
std    4.270542e+17     4.445906    1481.540360      17.516904
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    44.000000   16138.860000     252.000000

       Average daily rate  Average length of stay  Average booking window
count          202.000000             1100.000000              198.000000
mean           123.783267                0.655464                2.581212
std            121.969547                2.214409               10.676292
min             15.100000                0.000000                0.000000
25%             46.660000                0.000000                0.000000
50%             91.920000                0.000000                0.000000
75%            147.660000                0.000000                1.172500
max            921.820000               54.000000               84.000000

From the information available in the data, it can be determined that the July booking dataset does not contain duplicate data and consists of a total of 21 feature columns. Based on the information available in the data, there are several features that are not necessary. Therefore, those features can be removed.

In [82]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
july_data = july_data.drop(columns,axis=1)
july_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      202 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [83]:
july_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        898
Average length of stay      0
dtype: int64

The next step is to check the data that has missing values for "internal name" and "region."

In [84]:
missing_internal_name = july_data[july_data['Internal name'].isnull()]
print("Data with missing 'Internal name':")
missing_internal_name.head(23)

Data with missing 'Internal name':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,0.0,0,NaN,0.0
170,1128515481162622561,Private room in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
414,565343273164277913,Mock Property Room 1 TESTING,NaN,Bali,SGD,0,0.0,0,NaN,0.0
473,696639001174912560,Mock Property Room 3,NaN,Jakarta,SGD,0,0.0,0,NaN,0.0
487,664020938214053986,Flawless Villa for Group w/ Insane Ocean View ...,NaN,Bali,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
661,1128512891112154152,Entire home/apt in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1042,39118325,Restful Room Surrounded by Ubud Greenery Lush #1,NaN,Bali,SGD,0,0.0,0,NaN,0.0

In [86]:
missing_region = july_data[july_data['Region'].isnull()]
print("Data with missing 'Region':")
missing_region.head(16)

Data with missing 'Region':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0

Since there are many missing values, one option is to drop the data that has missing values for the "internal name" column.

In [87]:
july_data_cleaned = july_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", july_data_cleaned.shape)
july_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      202 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Next, we will check how many types of currencies are used. If there is only one type, then we will keep the average daily rate column.

In [88]:
currency_count = july_data_cleaned['Currency'].value_counts()

print("Number of different currencies:", len(currency_count))
print("\nList of currencies and their counts:")
print(currency_count)

Number of different currencies: 1

List of currencies and their counts:
Currency
SGD    1077
Name: count, dtype: int64

The next step is to fill in the null values for columns with the average daily rate using the mean of the existing data.

In [90]:
average_daily_rate_mean = july_data_cleaned['Average daily rate'].mean()
july_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
july_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the July booking data to ensure that all data has been cleaned.

In [91]:
july_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,0.0,0,123.783267,0.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.0,0,123.783267,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.0,0,123.783267,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.0,0,123.783267,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.0,0,123.783267,0.0

# **Preprocess Booking Data August 2023**

The task involves reading the booking data for August using the pandas library and then displaying the top 5 records from the August CSV file using head() function

In [96]:
august_data = pd.read_csv("book_data/bookings_2023_august.csv", skiprows=1)
august_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,221.43%,247.96%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.0,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [97]:
print("Data Info:")
print(august_data.info())

num_duplicates = august_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(august_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                356 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           379 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           379 non-null    object
 11  Average daily rate          201 non-null    float64
 12  Average daily rate YoY      97 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  356 non-null    object
 15  Average booking window      199 non-null    float64
 16  Average booking window YoY  37 non-null     object
 17  View to contact rate        105 non-null    object
 18  View to contact rate YoY    50 non-null     object
 19  Contact to book rate        92 non-null     object
 20  Contact to book rate YoY    43 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.719091     525.929264       5.423636
std    4.270542e+17     5.263416    1734.232064      18.102594
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    39.000000   20036.210000     188.000000

       Average daily rate  Average length of stay  Average booking window
count          201.000000             1100.000000              199.000000
mean           130.937264                0.541609                1.613467
std            127.275173                1.301590                4.459055
min             18.510000                0.000000                0.000000
25%             50.210000                0.000000                0.000000
50%             92.300000                0.000000                0.000000
75%            161.680000                0.000000                1.160000
max           1054.540000                8.500000               38.000000

From the information available in the data, it can be determined that the August booking dataset does not contain duplicate data and consists of a total of 21 feature columns. Based on the information available in the data, there are several features that are not necessary. Therefore, those features can be removed.

In [98]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
august_data = august_data.drop(columns,axis=1)
august_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      201 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [99]:
august_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        899
Average length of stay      0
dtype: int64

The next step is to check the data that has missing values for "internal name" and "region."

In [101]:
missing_internal_name = august_data[august_data['Internal name'].isnull()]
print("Data with missing 'Internal name':")
missing_internal_name.head(23)

Data with missing 'Internal name':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,0.0,0,NaN,0.0
170,1128515481162622561,Private room in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
414,565343273164277913,Mock Property Room 1 TESTING,NaN,Bali,SGD,0,0.0,0,NaN,0.0
473,696639001174912560,Mock Property Room 3,NaN,Jakarta,SGD,0,0.0,0,NaN,0.0
487,664020938214053986,Flawless Villa for Group w/ Insane Ocean View ...,NaN,Bali,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
661,1128512891112154152,Entire home/apt in Kecamatan Kuta Selatan,NaN,Bali,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1042,39118325,Restful Room Surrounded by Ubud Greenery Lush #1,NaN,Bali,SGD,0,0.0,0,NaN,0.0

In [102]:
missing_region = august_data[august_data['Region'].isnull()]
print("Data with missing 'Region':")
missing_region.head(16)

Data with missing 'Region':

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
259,1128521303534453919,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
328,746627653405405488,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
349,1128517652026827480,Entire home/apt in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
408,1084367686268950206,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
552,1128519127519650932,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
578,1128520621533774906,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
583,993261305858911431,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
656,943861352150397215,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
694,970575070818084733,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
767,1129831168233843711,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
849,1111890397071776237,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
898,1128523793457532611,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
943,1128521462151504360,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
977,1128523038193653080,Private room in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1004,1128520093082446307,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0
1031,878593671916454794,in Indonesia,NaN,NaN,SGD,0,0.0,0,NaN,0.0

Since there are many missing values, one option is to drop the data that has missing values for the "internal name" column.

In [103]:
august_data_cleaned = august_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", august_data_cleaned.shape)
august_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      201 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Next, we will check how many types of currencies are used. If there is only one type, then we will keep the average daily rate column.

In [104]:
currency_count = august_data_cleaned['Currency'].value_counts()

print("Number of different currencies:", len(currency_count))
print("\nList of currencies and their counts:")
print(currency_count)

Number of different currencies: 1

List of currencies and their counts:
Currency
SGD    1077
Name: count, dtype: int64

The next step is to fill in the null values for columns with the average daily rate using the mean of the existing data.

In [105]:
average_daily_rate_mean = august_data_cleaned['Average daily rate'].mean()
august_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
august_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the August booking data to ensure that all data has been cleaned.

In [106]:
august_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,0.0,0,130.937264,0.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.0,0,130.937264,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.0,0,130.937264,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.0,0,130.937264,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.0,0,130.937264,0.0

# **Preprocess Booking Data September 2023**

The task involves reading the booking data for September using the pandas library and then displaying the top 5 records from the September CSV file using head() function

In [107]:
september_data = pd.read_csv("book_data/bookings_2023_september.csv", skiprows=1)
september_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.0,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [108]:
print("Data Info:")
print(september_data.info())

num_duplicates = september_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(september_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                362 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           386 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           386 non-null    object
 11  Average daily rate          209 non-null    float64
 12  Average daily rate YoY      103 non-null    object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  362 non-null    object
 15  Average booking window      206 non-null    float64
 16  Average booking window YoY  41 non-null     object
 17  View to contact rate        115 non-null    object
 18  View to contact rate YoY    55 non-null     object
 19  Contact to book rate        97 non-null     object
 20  Contact to book rate YoY    45 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.884545     481.599982       5.735455
std    4.270542e+17     5.720701    1482.620211      19.305975
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    44.000000   14514.500000     229.000000

       Average daily rate  Average length of stay  Average booking window
count          209.000000             1100.000000              206.000000
mean           115.131579                0.592009                1.891019
std            104.711148                1.680769                7.987881
min             17.750000                0.000000                0.000000
25%             44.230000                0.000000                0.000000
50%             83.430000                0.000000                0.000000
75%            147.630000                0.000000                1.257500
max            811.430000               28.000000               96.000000

The next step is dropping the unused column

In [109]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
september_data = september_data.drop(columns,axis=1)
september_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      209 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [110]:
september_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        891
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [112]:
september_data_cleaned = september_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", september_data_cleaned.shape)
september_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      209 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [113]:
average_daily_rate_mean = september_data_cleaned['Average daily rate'].mean()
september_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
september_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the September booking data to ensure that all data has been cleaned.

In [114]:
september_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,0,0.0,0,115.131579,0.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.0,0,115.131579,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.0,0,115.131579,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.0,0,115.131579,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.0,0,115.131579,0.0

# **Preprocess Booking Data October 2023**

The task involves reading the booking data for October using the pandas library and then displaying the top 5 records from the October CSV file using head() function

In [115]:
october_data = pd.read_csv("book_data/bookings_2023_october.csv", skiprows=1)
october_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,12,1100%,2467.95,2708.2%,33,...,74.79,131.47%,3.0,'-95.08%,0.12,'-99.48%,4.88%,47.75%,139.47%,1573.68%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [118]:
print("Data Info:")
print(october_data.info())

num_duplicates = october_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(october_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                381 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           398 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           398 non-null    object
 11  Average daily rate          199 non-null    float64
 12  Average daily rate YoY      108 non-null    object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  381 non-null    object
 15  Average booking window      197 non-null    float64
 16  Average booking window YoY  52 non-null     object
 17  View to contact rate        120 non-null    object
 18  View to contact rate YoY    62 non-null     object
 19  Contact to book rate        103 non-null    object
 20  Contact to book rate YoY    54 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.668182     449.157400       5.371818
std    4.270542e+17     5.339595    1411.238488      18.899498
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    63.000000   13542.080000     231.000000

       Average daily rate  Average length of stay  Average booking window
count          199.000000             1100.000000              197.000000
mean           107.659296                0.621673                3.724822
std            101.376706                1.907945               19.689959
min             17.160000                0.000000                0.000000
25%             44.750000                0.000000                0.000000
50%             85.310000                0.000000                0.000000
75%            131.060000                0.000000                1.420000
max            881.910000               29.000000              255.000000

The next step is dropping the unused column

In [121]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
october_data = october_data.drop(columns,axis=1)
october_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      199 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [124]:
october_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        901
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [127]:
october_data_cleaned = october_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", october_data_cleaned.shape)
october_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      199 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [130]:
average_daily_rate_mean = october_data_cleaned['Average daily rate'].mean()
october_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
october_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the October booking data to ensure that all data has been cleaned.

In [133]:
october_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,12,2467.95,33,74.790000,3.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,107.659296,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,107.659296,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,107.659296,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,107.659296,0.0

# **Preprocess Booking Data November 2023**

The task involves reading the booking data for November using the pandas library and then displaying the top 5 records from the November CSV file using head() function

In [116]:
november_data = pd.read_csv("book_data/bookings_2023_november.csv", skiprows=1)
november_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,24,NaN,4845.77,267.59%,73,...,66.38,105.46%,3.04,NaN,0.14,NaN,3.85%,84.64%,50.69%,246.41%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.00,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.00,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [119]:
print("Data Info:")
print(november_data.info())

num_duplicates = november_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(november_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                324 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           354 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           354 non-null    object
 11  Average daily rate          181 non-null    float64
 12  Average daily rate YoY      86 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  324 non-null    object
 15  Average booking window      177 non-null    float64
 16  Average booking window YoY  52 non-null     object
 17  View to contact rate        127 non-null    object
 18  View to contact rate YoY    64 non-null     object
 19  Contact to book rate        115 non-null    object
 20  Contact to book rate YoY    57 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.197273     330.885382       4.341818
std    4.270542e+17     4.013421    1108.815058      17.213308
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    40.000000   10512.110000     228.000000

       Average daily rate  Average length of stay  Average booking window
count          181.000000             1100.000000              177.000000
mean            99.380331                0.617209                3.825876
std             77.888961                2.969836               11.614423
min             15.260000                0.000000                0.000000
25%             44.480000                0.000000                0.000000
50%             79.130000                0.000000                0.450000
75%            117.600000                0.000000                2.190000
max            510.750000               84.000000               95.000000

The next step is dropping the unused column

In [122]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
november_data = november_data.drop(columns,axis=1)
november_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      181 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [125]:
november_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        919
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [128]:
november_data_cleaned = november_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", november_data_cleaned.shape)
november_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      181 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [131]:
average_daily_rate_mean = november_data_cleaned['Average daily rate'].mean()
november_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
november_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the November booking data to ensure that all data has been cleaned.

In [134]:
november_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,24,4845.77,73,66.380000,3.04
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,99.380331,0.00
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,99.380331,0.00
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,99.380331,0.00
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,99.380331,0.00

# **Preprocess Booking Data December 2023**

The task involves reading the booking data for December using the pandas library and then displaying the top 5 records from the December CSV file using head() function

In [117]:
december_data = pd.read_csv("book_data/bookings_2023_december.csv", skiprows=1)
december_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,25,2400%,4941.97,249.6%,75,...,65.89,96.53%,2.92,46%,0.16,'-99.48%,2.4%,'-13.57%,87.21%,'-7.16%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.00,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.00,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [120]:
print("Data Info:")
print(december_data.info())

num_duplicates = december_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(december_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                356 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           372 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           372 non-null    object
 11  Average daily rate          192 non-null    float64
 12  Average daily rate YoY      91 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  356 non-null    object
 15  Average booking window      189 non-null    float64
 16  Average booking window YoY  56 non-null     object
 17  View to contact rate        141 non-null    object
 18  View to contact rate YoY    71 non-null     object
 19  Contact to book rate        129 non-null    object
 20  Contact to book rate YoY    65 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.321818     414.875273       4.499091
std    4.270542e+17     4.359637    1383.608784      16.659164
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    53.000000   16985.380000     191.000000

       Average daily rate  Average length of stay  Average booking window
count          192.000000             1100.000000              189.000000
mean           119.955677                0.589045                2.164180
std             93.546701                1.678584                8.128635
min             15.730000                0.000000                0.000000
25%             52.892500                0.000000                0.000000
50%             96.255000                0.000000                0.440000
75%            159.395000                0.000000                1.750000
max            653.280000               22.000000               92.000000

The next step is dropping the unused column

In [123]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
december_data = december_data.drop(columns,axis=1)
december_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      192 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [126]:
december_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        908
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [129]:
december_data_cleaned = december_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", december_data_cleaned.shape)
december_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      192 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [132]:
average_daily_rate_mean = december_data_cleaned['Average daily rate'].mean()
december_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
december_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the December booking data to ensure that all data has been cleaned.

In [135]:
december_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,25,4941.97,75,65.890000,2.92
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,119.955677,0.00
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,119.955677,0.00
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,119.955677,0.00
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,119.955677,0.00

# **Preprocess Booking Data January 2024**

The task involves reading the booking data for January using the pandas library and then displaying the top 5 records from the January CSV file using head() function

In [138]:
january_data = pd.read_csv("book_data/bookings_2024_january.csv", skiprows=1)
january_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,1,NaN,186.77,NaN,2,...,93.38,NaN,5.0,NaN,116.0,NaN,1.47%,NaN,100%,NaN
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,NaN,0.00,'-100%,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [143]:
print("Data Info:")
print(january_data.info())

num_duplicates = january_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(january_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                33 non-null     object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           94 non-null     object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           94 non-null     object
 11  Average daily rate          106 non-null    float64
 12  Average daily rate YoY      33 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  33 non-null     object
 15  Average booking window      36 non-null     float64
 16  Average booking window YoY  4 non-null      object
 17  View to contact rate        178 non-null    object
 18  View to contact rate YoY    45 non-null     object
 19  Contact to book rate        118 non-null    object
 20  Contact to book rate YoY    33 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     0.035455      15.111327       0.152727
std    4.270542e+17     0.203735      58.420400       0.603555
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18     3.000000     828.880000       7.000000

       Average daily rate  Average length of stay  Average booking window
count          106.000000             1100.000000               36.000000
mean           120.885943                0.130455               24.199722
std            108.278976                0.883336               33.068094
min             21.830000                0.000000                0.000000
25%             48.730000                0.000000                5.500000
50%             91.230000                0.000000               11.500000
75%            159.325000                0.000000               24.250000
max            828.880000               14.000000              118.000000

The next step is dropping the unused column

In [147]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
january_data = january_data.drop(columns,axis=1)
january_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      106 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [151]:
january_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        994
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [156]:
january_data_cleaned = january_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", january_data_cleaned.shape)
january_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      106 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [161]:
average_daily_rate_mean = january_data_cleaned['Average daily rate'].mean()
january_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
january_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

Now, let's check the January booking data to ensure that all data has been cleaned.

In [165]:
january_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,1,186.77,2,93.380000,5.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,120.885943,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,120.885943,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,120.885943,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,120.885943,0.0

# **Preprocess Booking Data February 2024**

The task involves reading the booking data for February using the pandas library and then displaying the top 5 records from the February CSV file using head() function

In [139]:
february_data = pd.read_csv("book_data/bookings_2024_february.csv", skiprows=1)
february_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,29,2800%,5464.99,1344.63%,84,...,65.06,17.4%,3.03,'-39.31%,0.33,'-99.58%,2.79%,'-73.48%,53.05%,653.29%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.00,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [144]:
print("Data Info:")
print(february_data.info())

num_duplicates = february_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(february_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                206 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           230 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           230 non-null    object
 11  Average daily rate          183 non-null    float64
 12  Average daily rate YoY      66 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  206 non-null    object
 15  Average booking window      178 non-null    float64
 16  Average booking window YoY  57 non-null     object
 17  View to contact rate        169 non-null    object
 18  View to contact rate YoY    69 non-null     object
 19  Contact to book rate        153 non-null    object
 20  Contact to book rate YoY    61 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000   1.100000e+03    1100.000000
mean   3.242886e+17     1.396364   2.131706e+03       5.258182
std    4.270542e+17     4.259036   5.748324e+04      18.864458
min    9.458760e+05     0.000000   0.000000e+00       0.000000
25%    2.922221e+07     0.000000   0.000000e+00       0.000000
50%    4.177994e+07     0.000000   0.000000e+00       0.000000
75%    7.401031e+17     0.000000   0.000000e+00       0.000000
max    1.145268e+18    31.000000   1.906444e+06     216.000000

       Average daily rate  Average length of stay  Average booking window
count          183.000000             1100.000000              178.000000
mean           206.590546                0.564600                3.601854
std           1390.137455                1.607572                8.183903
min             15.120000                0.000000                0.000000
25%             49.180000                0.000000                0.157500
50%             83.450000                0.000000                1.070000
75%            131.850000                0.000000                2.817500
max          18875.680000               15.500000               58.500000

The next step is dropping the unused column

In [148]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
february_data = february_data.drop(columns,axis=1)
february_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      183 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [152]:
february_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        917
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [157]:
february_data_cleaned = february_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", february_data_cleaned.shape)
february_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      183 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [162]:
average_daily_rate_mean = february_data_cleaned['Average daily rate'].mean()
february_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
february_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB


Now, let's check the February booking data to ensure that all data has been cleaned.

In [166]:
february_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,29,5464.99,84,65.060000,3.03
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,206.590546,0.00
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,206.590546,0.00
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,206.590546,0.00
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,206.590546,0.00

# **Preprocess Booking Data March 2024**

The task involves reading the booking data for March using the pandas library and then displaying the top 5 records from the March CSV file using head() function

In [140]:
march_data = pd.read_csv("book_data/bookings_2024_march.csv", skiprows=1)
march_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,22,NaN,4418.95,1218.3%,75,...,58.92,19.99%,3.0,NaN,0.42,NaN,1.96%,'-52.14%,49.35%,133.47%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.00,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.00,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [145]:
print("Data Info:")
print(march_data.info())

num_duplicates = march_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(march_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                269 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           301 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           301 non-null    object
 11  Average daily rate          176 non-null    float64
 12  Average daily rate YoY      71 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  269 non-null    object
 15  Average booking window      173 non-null    float64
 16  Average booking window YoY  60 non-null     object
 17  View to contact rate        157 non-null    object
 18  View to contact rate YoY    70 non-null     object
 19  Contact to book rate        142 non-null    object
 20  Contact to book rate YoY    64 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.321818     362.027909       4.720000
std    4.270542e+17     4.183254    1143.885935      16.929812
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    34.000000    9472.850000     202.000000

       Average daily rate  Average length of stay  Average booking window
count          176.000000             1100.000000              173.000000
mean            98.057443                0.598936                2.878555
std             74.930955                2.011450                7.844970
min             14.990000                0.000000                0.000000
25%             42.125000                0.000000                0.000000
50%             79.250000                0.000000                0.840000
75%            126.310000                0.000000                3.000000
max            486.180000               29.000000               71.000000

The next step is dropping the unused column

In [149]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
march_data = march_data.drop(columns,axis=1)
march_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      176 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [153]:
march_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        924
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [159]:
march_data_cleaned = march_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", march_data_cleaned.shape)
march_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      176 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [163]:
average_daily_rate_mean = march_data_cleaned['Average daily rate'].mean()
march_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
march_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB


Now, let's check the March booking data to ensure that all data has been cleaned.

In [167]:
march_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,22,4418.95,75,58.920000,3.0
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.00,0,98.057443,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.00,0,98.057443,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.00,0,98.057443,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.00,0,98.057443,0.0

# **Preprocess Booking Data April 2024**

The task involves reading the booking data for April using the pandas library and then displaying the top 5 records from the April CSV file using head() function

In [142]:
april_data = pd.read_csv("book_data/booking_2024_april.csv", skiprows=1)
april_data.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Bookings YoY,Booking value,Booking value YoY,Nights booked,...,Average daily rate,Average daily rate YoY,Average length of stay,Average length of stay YoY,Average booking window,Average booking window YoY,View to contact rate,View to contact rate YoY,Contact to book rate,Contact to book rate YoY
0,696637522460154617,Mock Property Room 2 Test,NaN,Yogyakarta,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,23,475%,5696.8,471.34%,89,...,64.01,49%,4.3,'-21.74%,0.42,'-83.77%,2.27%,2.8%,66.92%,482.57%
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,'-100%,0.0,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,'-100%,0.0,'-100%,0,...,NaN,NaN,0.0,'-100%,NaN,NaN,NaN,NaN,NaN,NaN
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,NaN,0.0,NaN,0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to assess the data to understand the information it contains, then check the number of duplicates in the data, and describe the data using the describe() function.

In [146]:
print("Data Info:")
print(april_data.info())

num_duplicates = april_data.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)

print("\nData Description:")
print(april_data.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Listing ID                  1100 non-null   int64
 1   Listing title               1100 non-null   object
 2   Internal name               1077 non-null   object
 3   Region                      1084 non-null   object
 4   Currency                    1100 non-null   object
 5   Bookings                    1100 non-null   int64
 6   Bookings YoY                346 non-null    object
 7   Booking value               1100 non-null   float64
 8   Booking value YoY           366 non-null    object
 9   Nights booked               1100 non-null   int64
 10  Nights booked YoY           366 non-null    object
 11  Average daily rate          179 non-null    float64
 12  Average daily rate YoY      83 non-null     object
 13  Average length of stay      1100 non-null   float64
 14  Average length of stay YoY  346 non-null    object
 15  Average booking window      172 non-null    float64
 16  Average booking window YoY  59 non-null     object
 17  View to contact rate        151 non-null    object
 18  View to contact rate YoY    73 non-null     object
 19  Contact to book rate        133 non-null    object
 20  Contact to book rate YoY    66 non-null     object
dtypes: float64(4), int64(3), object(14)
memory usage: 180.6+ KB
None

Number of Duplicates: 0

Data Description:
         Listing ID     Bookings  Booking value  Nights booked  \
count  1.100000e+03  1100.000000    1100.000000    1100.000000
mean   3.242886e+17     1.315455     412.415427       4.990909
std    4.270542e+17     4.290576    1333.076932      18.726126
min    9.458760e+05     0.000000       0.000000       0.000000
25%    2.922221e+07     0.000000       0.000000       0.000000
50%    4.177994e+07     0.000000       0.000000       0.000000
75%    7.401031e+17     0.000000       0.000000       0.000000
max    1.145268e+18    46.000000   12210.500000     232.000000

       Average daily rate  Average length of stay  Average booking window
count          179.000000             1100.000000              172.000000
mean           110.214804                0.621845                2.894477
std             99.482763                1.891518                8.207623
min             14.720000                0.000000                0.000000
25%             47.460000                0.000000                0.000000
50%             83.720000                0.000000                0.565000
75%            134.850000                0.000000                1.902500
max            860.570000               18.670000               62.750000

The next step is dropping the unused column

In [150]:
columns = ["Bookings YoY","Booking value YoY","Nights booked YoY","Average length of stay YoY","Average booking window","Average booking window YoY","Average daily rate YoY" ,"View to contact rate","View to contact rate YoY","View to contact rate YoY","Contact to book rate","Contact to book rate YoY"]
april_data = april_data.drop(columns,axis=1)
april_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1100 non-null   int64
 1   Listing title           1100 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1084 non-null   object
 4   Currency                1100 non-null   object
 5   Bookings                1100 non-null   int64
 6   Booking value           1100 non-null   float64
 7   Nights booked           1100 non-null   int64
 8   Average daily rate      179 non-null    float64
 9   Average length of stay  1100 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 86.1+ KB

After the dropping process, only 10 features remain for use. The next step is to check for missing values, whereby from the information provided, it is known that the "internal name," "region," and "average daily rate" columns still have missing values.

In [154]:
april_data.isna().sum()

Listing ID                  0
Listing title               0
Internal name              23
Region                     16
Currency                    0
Bookings                    0
Booking value               0
Nights booked               0
Average daily rate        921
Average length of stay      0
dtype: int64

Since the data pattern is the same as previous months, for the next step, we can proceed with dropping data that has missing values in the 'internal name' column.

In [160]:
april_data_cleaned = april_data.dropna(subset=['Internal name'])
print("Shape of dataframe after dropping rows with missing 'Internal name':", april_data_cleaned.shape)
april_data_cleaned.info()

Shape of dataframe after dropping rows with missing 'Internal name': (1077, 10)
<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      179 non-null    float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB

The next step is to fill in missing values for the average daily rate using the mean value.

In [164]:
average_daily_rate_mean = april_data_cleaned['Average daily rate'].mean()
april_data_cleaned['Average daily rate'].fillna(average_daily_rate_mean, inplace=True)
april_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 1 to 1099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Listing ID              1077 non-null   int64
 1   Listing title           1077 non-null   object
 2   Internal name           1077 non-null   object
 3   Region                  1077 non-null   object
 4   Currency                1077 non-null   object
 5   Bookings                1077 non-null   int64
 6   Booking value           1077 non-null   float64
 7   Nights booked           1077 non-null   int64
 8   Average daily rate      1077 non-null   float64
 9   Average length of stay  1077 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 92.6+ KB


Now, let's check the April booking data to ensure that all data has been cleaned.

In [168]:
april_data_cleaned.head()

,Listing ID,Listing title,Internal name,Region,Currency,Bookings,Booking value,Nights booked,Average daily rate,Average length of stay
1,44106402,Surf's Retreat: Minutes from Bingin Beach,Bingin Sun & Moon Villas - (Standard),Bali,SGD,23,5696.8,89,64.010000,4.3
2,39637584,Sunny Uluwatu Cottages with Fast Wifi + Fresh ...,Uluwatu Kayana Bungalows - 2,Bali,SGD,0,0.0,0,110.214804,0.0
3,41945741,Digital Nomad Room by Bukit Vista | sterilized,Asri Village-2,Bali,SGD,0,0.0,0,110.214804,0.0
4,47416028,ATRA Bambulogy â€¢ Alluring Bamboo Villa for Group,"OFFBOARD Atra 5BR Vit2,Ar,At",Bali,SGD,0,0.0,0,110.214804,0.0
5,743045318174537800,Nusa Dua's Tranquil Sanctuary with Immense Garden,Green D'Mel Nusa Dua - Suite 303,Bali,SGD,0,0.0,0,110.214804,0.0

***Notes: The preprocessing stage may need to be thoroughly reviewed next week due to the possibility of unclean or outlier data.***